
#head-container-product-in-production-page {
    padding-bottom: 15px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 2px 0;
}

#start-string-product-in-production {
    margin-top: 10px;
}

#name-user-product-in-production {
    float: left;
}

#title-page-product-in-production {
    text-align: center;
}

#main-container-product-in-production-page {
    margin-left: 10px;
    margin-right: 10px;
}

.input-border-style {
    border-radius: 5px;
    border-color: #808080bf;
    border-style: solid;
    border-width: thin;
}

#left-container-head-product-in-production {
    width: 35%;
}

#product-in-production-head-brend {
    width: 30%;
}

#product-in-production-head-date-create {
    width: 65%;
}

#product-in-production-head-name-prod {
    width: 98.5%;
}

#middle-container-head-product-in-production {
    width: 35%;
}

#right-container-product-in-production {
    text-align: right;
    display: flex;
    flex-wrap: wrap;
    width: 30%;
}

#body-container-product-in-production-page-head {
    margin-top: 15px;
    display: flex;
    flex-wrap: nowrap;
}

#product-in-production-table-container-main {
    width: 100%;
    border-style: solid;
    border-radius: 5px;
    border-color: gray;
    margin-right: 5px;
}

#product-in-production-start-string {
    background-color: #10a9f2;
    margin-left: 10px;
    margin-right: 10px;
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
    margin-top: 5px;
}

#product-in-production-table {
    border: 1px solid black;
}


