<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product In Production</title>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" type="text/css" th:href="@{DataTables-1.11.3/css/jquery.dataTables.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/tester.css}">
    <script type="text/javascript" th:src="@{/js/jquery-3.5.1.js}"></script>
    <script type="text/javascript" th:src="@{DataTables-1.11.3/js/jquery.dataTables.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/tester.js}"></script>
</head>
<body>
<div id="confirm-template" style="display: none">
    <div id="modal-head">Выполните операцию :</div>
    <div id="control">Контроль пролучения пробы</div>
    <div style="font-style: italic; text-align: left; margin-top: 15px; margin-left: 3px">Начало операции : <span id="start-time"></span></div>
    <div style="font-style: italic; text-align: left; margin-top: 15px; margin-left: 3px">Время в работе : <span id="min-to-work"></span><span id="symbol"></span><span id="sec-to-work"></span></div>
    <div style="display: flex; justify-content: space-evenly; margin-top: 15px">
        <button id="confirm-button" type="button" class="btn btn-secondary btn-sm">Подтвердить</button>
        <button id="close-button" type="button" class="btn btn-secondary btn-sm">Закрыть</button>
    </div>
</div>


<div id="main-container-product-in-production-page">
    <div id="head-container-product-in-production-page">
        <div id="start-string-product-in-production">
            <div id="name-user-product-in-production" style="font-weight: bold">Лаборант</div>
            <div id="title-page-product-in-production" style="font-weight: bold">Страница просмотра рецептов в
                производстве
            </div>

            <div style="display: flex; flex-wrap: nowrap; margin-top: 15px">
                <div id="left-container-head-product-in-production">
                    <div id="first-row-information-head-product-in-production">
                        <label style="width: 30%"><span style="visibility: hidden">Бренд</span><br>
                            <input id="product-in-production-head-brend" type="text" readonly placeholder="Бренд"
                                   class="input-border-style"
                                   style="text-align: center; font-weight: bold; width: 100%">
                        </label>
                        <label style="width: 67.8%">
                            <input id="product-in-production-head-date-create" type="text" readonly
                                   placeholder="Дата производства"
                                   class="input-border-style"
                                   style="text-align: center; font-weight: bold; width: 100%">
                        </label>
                    </div>
                    <div id="second-row-information-head-product-in-production">
                        <label style="width: 100%"><span style="visibility: hidden">Название продукта</span>
                            <input id="product-in-production-head-name-prod" type="text" readonly
                                   class="input-border-style"
                                   style="text-align: center; font-weight: bold" placeholder="Название продукта">
                        </label>
                    </div>
                </div>
                <div id="middle-container-head-product-in-production" style="display: flex; flex-wrap: wrap">
                    <div id="first-row-right-information-head-product-in-production" style="width: 50%">
                        <label style="width: 49%; text-align: center"><span style="font-weight: bold">T</span><span
                                style="font-size: small; font-weight: bold">min</span><br>
                            <input id="temp-min" value="20.0" type="number" min="20" max="45" step="0.1"
                                   placeholder="Мин. темпр"
                                   class="input-border-style"
                                   style="width: 100%; text-align: center; font-weight: bold" readonly>
                        </label>
                        <label style="width: 49%; text-align: center"><span style="font-weight: bold">T</span><span
                                style="font-size: small; font-weight: bold">max</span><br>
                            <input id="temp-max" value="45.0" type="number" min="20" max="45" step="0.1"
                                   style="width: 100%; text-align: center; font-weight: bold"
                                   placeholder="Макс. темпр" class="input-border-style" readonly>
                        </label>
                    </div>
                    <div id="second-row-right-information-head-product-in-production"
                         style="width: 100%; display: flex; flex-wrap: nowrap">
                        <div style="width: 50%">
                            <label style="font-weight: bold; width: 49%; text-align: center">Общий вес, кг<br>
                                <input id="common-weight-product-in-production" type="number" step="0.001"
                                       class="input-border-style"
                                       style="text-align: center; width: 100%; font-weight: bold" readonly>
                            </label>
                        </div>
                    </div>
                </div>
                <div id="right-container-product-in-production">
                    <div style="width: 100%">
                        <div style="display: flex; flex-wrap: nowrap">
                            <div style="width: 50%; text-align: center">
                                <div style="font-weight: bold">Обновление страницы</div>
                                <div id="timer"></div>
                            </div>
                            <div style="width: 50%">
                                <button id="tester-protocol-button" class="btn btn-outline-secondary btn-sm"
                                        style="width: 72%">Протокол
                                </button>
                            </div>
                        </div>
                    </div>
                    <div style="width: 100%">
                        <a th:href="@{/logout}" class="btn btn-outline-secondary btn-sm" style="width: 36%">Выход</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="body-container-product-in-production-page">
        <div id="body-container-product-in-production-page-head">
            <div style="width: 35%; display: flex; flex-wrap: nowrap">
                <input type="text" placeholder="комментарий оператору цеха" class="input-border-style"
                       id="comment-to-operator" style="width: 74%">
                <button id="send-comment" class="btn btn-outline-secondary btn-sm"
                        style="width: 24%; margin-left: 10px">Отправить
                </button>
            </div>
            <div style="width: 35%">
                <button id="return-to-work" class="btn btn-outline-secondary btn-sm"
                        style="width: 24%; margin-left: 10px">Вернуть в работу
                </button>
                <button id="put-aside" class="btn btn-outline-secondary btn-sm" style="width: 24%; margin-left: 10px">
                    Отложить
                </button>
                <button id="in-reject" class="btn btn-outline-secondary btn-sm" style="width: 24%; margin-left: 10px">В
                    брак
                </button>
            </div>
            <div style="width: 30%; text-align: right">
                <button id="look-recipe-product-in-production" class="btn btn-outline-secondary btn-sm"
                        style="width: 36%">Посмотреть рецепт
                </button>
            </div>
        </div>
        <div id="body-container-product-in-production-page-body">
            <div id="product-in-production-table-container-main">
                <div id="product-in-production-start-string">Продукты в работе</div>
                <div></div>
                <table id="product-in-production-table" style="width: 100%">
                    <thead>
                    <tr>
                        <th>idpr</th>
                        <th>datecr</th>
                        <th>datepl</th>
                        <th>brend</th>
                        <th>nameprod</th>
                        <th>percent</th>
                        <th>mass</th>
                        <th>temprprodmin</th>
                        <th>temprprodmax</th>
                        <th>comment</th>
                        <th>state</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>