<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Recipe In Production Page</title>

  <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.css}">
  <link rel="stylesheet" type="text/css" th:href="@{DataTables-1.11.3/css/jquery.dataTables.min.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/css/viewRecipePage.css}">
  <script type="text/javascript" th:src="@{/js/jquery-3.5.1.js}"></script>
  <script type="text/javascript" th:src="@{DataTables-1.11.3/js/jquery.dataTables.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/viewRecipePage.js}"></script>

</head>
<body style="background-color: rgb(229, 230, 250)">
<div id="id-edite-recipe" style="display: none" th:text="${idProd}"></div>
<div id="main-container-edite-recipe">
  <div id="head_container-edite-recipe">
    <div id="start-string-edite-recipe">
      <div style="width: 40%; font-weight: bold">Начальник цеха</div>
      <div style="width: 60%; font-weight: bold">Страница просмотра рецепта в производстве</div>
    </div>
    <div style="display: flex; flex-wrap: nowrap; margin-top: 15px">
      <div id="left-container-head-edite-recipe">
        <div id="first-row-information-head-edite-recipe">
          <label style="width: 30%"><span style="visibility: hidden">Бренд</span><br>
            <input id="edite-recipe-head-brend" type="text" readonly placeholder="Бренд"
                   class="input-border-style"
                   style="text-align: center; font-weight: bold; width: 100%">
          </label>
          <label style="width: 69%">
            <input id="edite-recipe-head-date-create" type="text" readonly placeholder="Дата производства"
                   class="input-border-style" style="text-align: center; font-weight: bold; width: 98%">
          </label>
        </div>
        <div id="second-row-information-head-edite-recipe">
          <label style="width: 100%"><span style="visibility: hidden">Название продукта</span>
            <input id="edite-recipe-head-name-prod" type="text" readonly class="input-border-style"
                   style="text-align: center; font-weight: bold" placeholder="Название продукта">
          </label>
        </div>
      </div>
      <div id="middle-container-head-edite-recipe" style="display: flex; flex-wrap: wrap">
        <div id="first-row-right-information-head-edite-recipe" style="width: 50%">
          <label style="width: 49%; text-align: center"><span style="font-weight: bold">T</span><span
                  style="font-size: small; font-weight: bold">min</span><br>
            <input readonly id="temp-min" value="20.0" type="number" min="20" max="45" step="0.1"
                   placeholder="Мин. темпр"
                   class="input-border-style" style="width: 100%; text-align: center; font-weight: bold">
          </label>
          <label style="width: 49%; text-align: center"><span style="font-weight: bold">T</span><span
                  style="font-size: small; font-weight: bold">max</span><br>
            <input readonly id="temp-max" value="45.0" type="number" min="20" max="45" step="0.1"
                   style="width: 100%; text-align: center; font-weight: bold"
                   placeholder="Макс. темпр" class="input-border-style">
          </label>
        </div>
        <div id="second-row-right-information-head-edite-recipe"
             style="width: 100%; display: flex; flex-wrap: nowrap">
          <div style="width: 50%">
            <label style="font-weight: bold; width: 49%; text-align: center">Общий вес, кг<br>
              <input readonly id="common-weight-edite-recipe" type="number" step="1"
                     class="input-border-style"
                     style="text-align: center; width: 100%; font-weight: bold">
            </label>
            <label style="font-weight: bold; width: 49%; text-align: center">Контроль,%<br>
              <input readonly id="control" type="text" class="input-border-style"
                     style="width: 100%; font-weight: bold; text-align: center">
            </label>
          </div>
        </div>
      </div>
    </div>
    <div id="third-row-middle-edite-recipe" style="margin-top: 15px; display: flex; flex-wrap: nowrap">
      <input type="number" placeholder="Этап" min="1" style="width: 5%" id="stage" class="input-border-style">
      <input id="comment-to-stage" type="text" placeholder="Комментарий к этапу"
             class="input-border-style" style="width: 59.5%; margin-left: 10px">
<!--      <button id="save-comment-to-stage" class="btn btn-outline-secondary btn-sm" style="margin-left: 10px">Сохранить комментарий-->
<!--      </button>-->
    </div>
  </div>
  <div id="middle-container-edite-recipe">
    <div id="first-row-middle-edite-recipe" style="display: flex; flex-wrap: nowrap">
      <label style="width: 3.5%; text-align: center"><span style="font-weight: bold">N</span><br>
        <input readonly id="sequence-number-input" type="number" min="1" step="1"
               class="input-border-style input-selected-row-information" style="width: 100%">
      </label>
      <label style="width: 3%; text-align: center; margin-left: 10px"><span
              style="font-weight: bold">Этап</span><br>
        <input readonly id="stage-input" type="number" min="0" step="1"
               class="input-border-style input-selected-row-information" style="width: 100%">
      </label>
      <label id="name-prod-label" style="width: 35%; text-align: center; margin-left: 10px"><span
              style="font-weight: bold">Название</span><br>
        <input id="name-prod-input" readonly type="text" class="input-border-style"
               style="width: 100%; font-weight: bold">
      </label>
      <label id="percent"
             style="text-align: center; width: 7%;display: none; margin-left: 10px; text-align: center; font-weight: bold"><span
              style="font-weight: bold;">Процент, %</span><br>
        <input readonly id="percent-input" type="number" step="0.01" min="0"
               class="input-border-style input-selected-row-information" style="width: 100%">
      </label>
      <label id="mass" style="text-align: center; width: 6%; display: none; margin-left: 10px"><span
              style="font-weight: bold">Масса, кг</span><br>
        <input readonly id="mass-input" type="number" step="0.001" min="0"
               class="input-border-style input-selected-row-information" style="width: 100%">
      </label>
      <label id="mixing" style="text-align: center; width: 9%; display: none; margin-left: 10px"><span
              style="font-weight: bold">Перемеш. об.мин.</span><br>
        <input readonly id="mixing-input" type="number" min="0" step="1"
               class="input-border-style input-selected-row-information" style="width: 100%">
      </label>
      <label id="mixing-time" style="text-align: center; width: 7%; display: none; margin-left: 10px"><span
              style="font-weight: bold">Время, мин.</span><br>
        <input readonly id="mixing-time-input" type="number" step="1" min="0"
               class="input-border-style input-selected-row-information" style="width: 100%">
      </label>
      <label id="filter" style="text-align: center; width: 20%; display: none; margin-left: 10px"><span
              style="font-weight: bold">Фильтр</span><br>
        <select id="filter-select" class="btn btn-outline-secondary btn-sm" style="width: 90%; height: 52%">
          <option value="Мішочний фільтр NMO-100-P02S-60L">Мішочний фільтр NMO-100-P02S-60L</option>
          <option value="Мішочний фільтр NMO-150-P02S-60L">Мішочний фільтр NMO-150-P02S-60L</option>
          <option value="Мішочний фільтр NMO-200-P02S-60L">Мішочний фільтр NMO-200-P02S-60L</option>
          <option value="Мішочний фільтр NMO-250-P02S-60L">Мішочний фільтр NMO-250-P02S-60L</option>
          <option value="Мішочний фільтр PE-100-P02S-40L">Мішочний фільтр PE-100-P02S-40L</option>
          <option value="Мішочний фільтр PE-10-P02S-40L">Мішочний фільтр PE-10-P02S-40L</option>
          <option value="Мішочний фільтр PE-200-P02S">Мішочний фільтр PE-200-P02S</option>
          <option value="Мішочний фільтр PE-25-P02S-10L">Мішочний фільтр PE-25-P02S-10L</option>
          <option value="Мішочний фільтр PE-25-P02S-40L">Мішочний фільтр PE-25-P02S-40L</option>
          <option value="Мішочний фільтр PE-50-P02S-40L">Мішочний фільтр PE-50-P02S-40L</option>
        </select>
      </label>
      <label id="infelicity-percent" style="text-align: center; width: 6%; display: none; margin-left: 10px"><span
              style="font-weight: bold">Погр. %</span><br>
        <input readonly id="infelicity-percent-input" type="number" step="0.01" min="0"
               class="input-border-style input-selected-row-information" style="width: 100%">
      </label>
      <label id="infelicity-mass" style="width: 6%; text-align: center; display: none; margin-left: 10px"><span
              style="font-weight: bold">Погр. кг</span><br>
        <input readonly="" id="infelicity-mass-input" type="number" step="0.001" min="0"
               class="input-border-style input-selected-row-information" style="width: 100%">
      </label>
      <label id="part-label" style="width: 4%; text-align: center; margin-left: 10px; display: none"><span
              style="font-weight: bold">Партия</span><br>
        <input readonly id="part" class="input-border-style input-selected-row-information" min="0" type="number" style="width: 100%">
      </label>
      <label id="part-date-label" style="width: 9%; text-align: center; margin-left: 10px; display: none"><span
              style="font-weight: bold">Дата</span><br>
        <input readonly id="past-date" class="input-border-style input-selected-row-information" type="datetime-local" style="width: 100%">
      </label>
    </div>

    <div id="second-row-middle-edite-recipe-in-production" style="display: flex; flex-wrap: nowrap">
      <label style="width: 3.5%; text-align: center"></label>
      <label style="width: 3%; text-align: center; margin-left: 10px"> </label>
      <label id="name-prod-label-product-in-production"
             style="width: 35%; text-align: center; margin-left: 10px"></label>
      <label id="percent-product-in-production"
             style="text-align: center; width: 7%;display: none; margin-left: 10px; text-align: center; font-weight: bold"></label>
      <label id="mass-product-in-production"
             style="text-align: center; width: 6%; display: none; margin-left: 10px">
        <span style="font-weight: bold;">Факт. кг</span><br>
        <input id="mass-input-product-in-production" type="number" step="0.001" min="0"
               class="input-border-style input-selected-row-information" readonly style="width: 100%">
      </label>
      <label id="mixing-product-in-production"
             style="text-align: center; width: 9%; display: none; margin-left: 10px"></label>
      <label id="mixing-time-product-in-production"
             style="text-align: center; width: 7%; display: none; margin-left: 10px"></label>
      <label id="filter-product-in-production"
             style="text-align: center; width: 9%; display: none; margin-left: 10px"></label>
      <label id="infelicity-percent-product-in-production"
             style="text-align: center; width: 6%; display: none; margin-left: 10px"></label>
      <label id="infelicity-mass-product-in-production"
             style="width: 6%; text-align: center; display: none; margin-left: 10px">
        <span style="font-weight: bold;">Факт. кг</span><br>
        <input id="infelicity-mass-input-product-in-production" type="number" step="0.001" min="0"
               class="input-border-style input-selected-row-information" readonly style="width: 100%">
      </label>
      <label id="part-label-product-in-production"
             style="width: 4%; text-align: center; margin-left: 10px; display: none"></label>
      <label id="part-date-label-product-in-production"
             style="width: 9%; text-align: center; margin-left: 10px; display: none"></label>
    </div>
  </div>
  <div id="body-container-edite-recipe">
    <div style="display: flex; flex-wrap: nowrap">
      <div id="table-recipe-container" style="width: 100%">
        <div id="start-string-recipe-table">Рецепт</div>
        <table id="edite-recipe-table" style="width: 100%; font-size: 0.8rem">
          <thead>
          <tr>
            <th>id</th>
            <th>n</th>
            <th>stage</th>
            <th>code</th>
            <th>nameraw</th>
            <th>percent</th>
            <th>mass</th>
            <th>devper</th>
            <th>devmass</th>
            <th>turnmix</th>
            <th>timemix</th>
            <th>pastpart</th>
            <th>pastdate</th>
          </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>

</body>
</html>